body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* MovieCard.css style starts here */
.movie-card-container {
  position: relative;
  width: 10rem; /* Adjust as needed */
  margin-bottom: 50px;
}
.movie-card-container:hover {
  opacity: 1;
  pointer-events: initial;
  z-index: 1;
  transform: scale(1.1);
}

.card {
  display: flex;
  flex-direction: column;
  height: 150px;
  /* min-height: 200px; Set a minimum height for the cards */
  cursor: pointer;
}


.card-img-container {
  flex: 1;
}

.card-img-top {
  width: 100%;
  height: 150px;
 
}

.card-body {
  flex: 1;
}

.card-title {
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.card-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
.image-container {
  position: relative;
  opacity: 1;
 
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1; /* Set a higher z-index to bring the overlay on top */
}

.image-container:hover .overlay {
  opacity: 1;
  
}
.addtofavrt-animated{
 font-size: 7px;
 width: 100px;
 background-color:#e50914!important;
 color: white!important;
 padding: 5px 10px !important;
 cursor: pointer;
 position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  animation: slideUp 0.7s ease forwards;
 }
 @keyframes slideUp {
  0% {
    bottom: -20px;
  }
  100% {
    bottom: 30%;
  }
}
 .addtofavrt-animated:hover {
  background-color: white!important;
  color: #e50914!important;
  
}
 
/* MovieCard.css style ends here */



/* home.css style starts here */
.genre-heading{
background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 22%, rgba(165,42,42,1) 94%);
color: aliceblue;
padding: 10px;
border: 2px solid black;
}
.show-more-button{
background-color: #a52a2a;
color: aliceblue;
border: 'none';
padding: '8px 16px';
font-Size: '14px';
cursor: 'pointer';
margin-bottom: 20px;
}
.filmFlix-heading{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 22%, rgba(165,42,42,1) 100%);
  color: white;
  /* width: 250px; */
  margin: auto;
  padding: 40px;
  margin-bottom: 30px;
}
.para{
  font-style: italic;
  margin: 30px 40px;
  padding: 20px;
}
/* home.css style ends  here */


/* MovieDetail.css style starts here */

.movie-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #141414;
  color: #ffffff;
}

.movie-info {
  display: flex;
  align-items: flex-start;
}

.movie-image img {
  width: 300px;
  height: auto;
}

.movie-details {
  margin-left: 20px;
}

.movie-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.movie-metadata {
  margin-bottom: 10px;
}

.metadata-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.metadata-label {
  font-weight: bold;
  margin-right: 5px;
}

.metadata-value {
  margin-right: 10px;
}

.summary {
  margin-bottom: 20px;
}

.actions {
  display: flex;
  align-items: center;
}

.play-button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #e50914;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.add-to-favorites {
  padding: 10px 20px;
  background-color: #ffffff;
  color: #e50914;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.add-to-favorites:hover {
  background-color: #e50914;
  color: #ffffff;
}
/* MovieDetail.css style ends here */


/* quikview.css style starts here */



.quick-view-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  pointer-events: none;
  /* transition: opacity 0.7s ease; */
  
}

.quick-view-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 1rem;
  width: 100%;
  max-width: 18rem; /* Adjust as needed */
  text-align: center;
  transition: transform 0.3s ease-in-out;
  
}



.quick-view-image {
  width: 100%;
  height: auto;
  /* object-fit: contain; */
}

.quick-view-title {
  font-size: 24px;
  margin-top: 1rem;
}

.quick-view-description {
  margin-top: 1rem;
  line-height: 1.5;
}




/* AddToFavorites button styles */
.quick-view-content button {
  background-color: #e50914;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 16px;
}

.quick-view-content button:hover {
  background-color: #c7080f;
}

/* quikview.css style ends here */


